CustomerModelViewControler/Service References/CustomerMgmService/CustomerMgmService.Contracts.Messages.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CustomerMgmService.Contracts.Messages" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CustomerMgmService.Contracts.Messages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CustomerData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonalNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalDebt" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerData" nillable="true" type="tns:CustomerData" />
  <xs:complexType name="ArrayOfCustomerData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerData" nillable="true" type="tns:CustomerData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerData" nillable="true" type="tns:ArrayOfCustomerData" />
</xs:schema>